*{
margin: 0;
padding: 0;

}

.cabeçalho {
    background-color: aquamarine;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}

.cabeçalho-imagem {
    width: 10%;
}

.cabeçalho-lista-item {
display: inline-block;
margin: 0 16px;
font-size: 24px;
font-family: 'Courier New', Courier, monospace;
}


.turma{
    background-image: linear-gradient(aquamarine, rgb(0, 117, 78));
    color: rgb(25, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.turma-imagem{
  width: 25%;
}

.turma-div-conteudo{
    width: 25%;
    font-size: 30px;
}